.features-struct {
    color: #A9B7C6;
    font-family: monospace;
}

.features-struct .keyword {
    color: #CC7832;
}

.features-struct .field {
    color: #9876AA;
}

.features-struct .doc {
    color: #629755;
}

.features-struct .doc-keyword {
    color: #629755;
    text-decoration: underline;
}

.features-struct .link {
    color: #4F86CD;
    text-decoration: underline;
}

.features-struct .tab {
    margin-left: 1em;
    display: block;
}

body {
    background-color: #2B2B2B;
    color: #A9B7C6;
}